[2016-08-23 06:14] elicoidal opened #16 "Expected singleton: business.requirement.deliverable(2, 3)"
I created a BR with 2 deliverables and several resources lines in runbot.
I get the following error message
![screenshot from 2016-08-23 14-13-21](https://cloud.githubusercontent.com/assets/7600613/17881938/cbd133fc-693b-11e6-81a3-7e98799af120.png)

[2016-08-29 01:32] elicoidal commented on #16
fix with #14

[2016-08-29 01:32] #16 closed

[2016-09-15 04:06] elicoidal opened #20 "Migration to version 9.0"
# Todo

Please check the following link before proceeding to the migration: https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate

When you pick a module, input your github id and the PR number after the name of the module:
- [X] business_requirement @sudhir-serpentcs #25
- [ ] business_requirement_crm
- [X] business_requirement_deliverable @sudhir-serpentcs #2

[2016-09-15 14:58] dreispt opened #22 "Transifex build is failing"
Wrong [secret](https://github.com/OCA/maintainer-quality-tools/issues/194#issue-79502151)?

[2016-09-15 16:06] elicoidal commented on #22
Hum Probably. Thanks @dreispt
business-requirement repo doesnot exist though.
@victormartinelicocorp can you have a look

[2016-09-16 09:46] dreispt opened #23 "Disable CodeReviewHub"
It was an experiment, but IMO it is horrible.
Do you agree?

[2016-09-16 12:53] elicoidal commented on #23
Yes: I do not use it because I dont have time with so many notifications.
I see the point of it for certain cases or people but not in my case (I monitor probably a hundred repos and react on ping only).
In the same idea I would remove coverall.io

[2016-09-21 03:26] martintorresvm commented on #22
@dreispt Surely is easy to fix but I am not experience with Transifex. Could you explain what steps need to do?

[2016-09-21 09:17] dreispt commented on #22
@victormartinelicocorp I'm also not inside the OCA/Transifex workings.

[2016-09-21 09:29] pedrobaeza commented on #22
Follow these instructions to get the secure word https://github.com/OCA/maintainer-quality-tools/blob/master/sample_files/.travis.yml#L37-L41

[2016-10-03 09:13] elicoidal opened #32 "Code sprint 2016"
Link to the etherpad: http://pad.odoo.com/p/BR-codesprint-2016

[2016-10-04 08:29] CBPOforOdoo opened #33 "[RFC] Adding Group By [Parent] in BR"
Need to add Group By [Parent] in the BR tree view to allow users to get their BRs classified by Objectives for example.

[2016-10-04 09:09] mmalorni opened #34 "Fix Workflow for Project/tasks creation"
Change when the button to generate the project appears. It should get displayed when the stage is set to Stakeholder approval (rename to Approved by Stakeholders).

[2016-10-04 09:09] mmalorni commented on #34
Kalid is working on this

[2016-10-04 09:16] mmalorni opened #35 "Display Generate Project button if not linked"
Right now, the button disappears when you change the stage and only gets displayed on one stage.
Get the generate project button to display after the stakeholder approval as long as there is no project linked (See other the information tab for the field) (hide if a project is linked)

[2016-10-04 09:16] mmalorni commented on #35
Omar is working on this

[2016-10-04 09:22] mmalorni opened #36 "Fix Duplicate Function for Business Requirements"
Make sure the linked project is emptied when you copy a Business Requirement (check if other fields would make sense to leave empty after a copy also).
Make sure that it is done for the other objects below the business requirements (resource lines, deliverable line items) if they are duplicated as well.

[2016-10-04 09:31] CBPOforOdoo opened #37 "Parent field display information"
In BR Other Information tab, [Parent] many2one should display BR Description with the BR number as
_[BR Number] Description_

[2016-10-04 11:54] mmalorni opened #41 "[RFC] Add Reviewer and Estimator info"
Create ACL for a Reviewer and Estimator and allow to set the reviewer and estimator in the business requirement form by adding a many 2 many field in the model and in the form view (Employees or users in the drop down list) Allow to set more than one Reviewer and Estimator (many to many)

[2016-10-04 11:55] elicoidal commented on #37
Agree. Nice to have

[2016-10-04 11:56] #36 closed

[2016-10-04 11:59] elicoidal commented on #33
We don't have yet the objective but after discussion we have to add a fields (m2o) "Main category" (below main project) + add a group by/filter feature
@astirpe @mmalorni

[2016-10-04 12:12] elicoidal commented on #41
:+1:
@mmalorni can we add fields (reviewer in br module, estimator in br_deliverable modules) with corresponding ACL?
@astirpe

[2016-10-04 12:36] CBPOforOdoo opened #43 "Resource lines under Deliverables lines tab"
if the Type = "task" and the Root Category for tasks and Assign to columns have values, then if we change the Type to "Procurement" values of the two columns are removed, But; when save and close the Deliverables lines then reopen it we find that the Root Category for tasks and Assign to columns will remain read only but will show their values as if the Type="task" while they should show nothing a

[2016-10-04 13:00] mmalorni opened #44 "Transfer Fiscal Position when creating a quotation"
Correctly copy tax position while creating a quotation from a list of business requirements. Take the fiscal position of the customer set in the Business Requirement record.

[2016-10-04 13:58] CBPOforOdoo opened #45 "Add "Reference" in BR"
Add "Reference" (Text data type) field to the BR and show on the Tree (list) view and adjust issue #37 to show this "Reference" with the description as _**[Reference] Description.**_ instead of [BR Number] Description

[2016-10-04 14:09] CBPOforOdoo opened #46 "[RFC] Adding a new Action to show BRs in sequence view"
Create a new menu action under the Business Requirement category menu to show BRs in a sequence view like "Products by Category"  action under Products category menu under Sales root menu to show list of BRs sorted by Parents and "Reference" created in issue #45 .

[2016-10-04 16:11] mmalorni commented on #44
Each line in the quotation doesn't have a tax set.
If the tax is set, the calculation of the tax amount should be done based on the fiscal position of the customer and the product taxes applied. (refresh might be needed but should calculate properly)

[2016-10-05 14:15] elicoidal commented on #46
Is it sequence view you need or tree view with the parents?
I am not sure you can do both at the same time.

[2016-10-05 14:16] elicoidal commented on #45
Agree
I would actually use the [BR Number] if [Reference] is false.

[2016-10-05 14:22] CBPOforOdoo commented on #46
What we meant is sorting BRs according to parents then according to the newly added "Reference" field which will allow the user to see BRs grouped by parents then sorted by reference.

## If this is not possible, then sorting the whole list of BRs by reference will be sufficient and most of the job 👍

Sent from myMail for Android Wednesday, 05 October 2016, 04:15PM +02:00 from Eric Caudal  notific

[2016-10-05 14:23] CBPOforOdoo commented on #45
## More then perfect 👍

Sent from myMail for Android Wednesday, 05 October 2016, 04:16PM +02:00 from Eric Caudal  notifications@github.com :

[2016-10-05 15:21] elicoidal commented on #35
solved

[2016-10-05 15:21] #35 closed

[2016-10-06 12:48] pedrobaeza opened #48 "Migration to version 10.0 [FINISHED]"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
When you pick a module, input your github id and the PR number after the name of the module:
- [x] business_requirement #223
- [x] business_requirement_deliverable #224
- [X] business_requirement_deliverable_categ (DEPRECATED)
- [x] business_requirement_deliverable_cost #225
- [x] business_requireme

[2016-10-14 00:19] pedrobaeza commented on #34
Closing as there's a PR

[2016-10-14 00:19] #34 closed

[2016-10-17 12:17] pedrobaeza commented on #44
Already fixed

[2016-10-17 12:17] #44 closed

[2016-10-17 15:27] dreispt commented on #22
@pedrobaeza You need to provide the OCA Transifex password as `your-password`, right?

[2016-10-17 16:42] pedrobaeza commented on #22
Yeah, that's right. I have run the script and this is the expected secure:

[code]

[2016-10-26 08:43] astirpe commented on #32
@elicoidal all the issues we discussed during the Code sprint 2016 were ported from etherpad to github, maybe this issue can be closed, do you agree?

[2016-10-29 07:17] elicoidal commented on #32
Agree! thanks @astirpe for the follow-up

I will be under for the next couple of month but will try my best to follow with my own team to finish the migration on v9 and start v10.

[2016-10-29 07:17] #32 closed

[2016-11-11 07:42] astirpe commented on #43
I this this issue could be closed

[2016-11-11 17:18] pedrobaeza commented on #43
Yeah, closing

[2016-11-11 17:18] #43 closed

[2016-11-30 08:25] DarioLodeiros opened #60 "Create new default resource line in product form error"
If i add a item in the "default resource line", in the product form, i get the error:
[code]

[2017-01-17 09:15] dreispt commented on #23
AFAICT it's done.

[2017-01-17 09:15] #23 closed

[2017-02-15 13:44] astirpe commented on #45
This issue can be closed, as the PRs #68 and #55 are merged

[2017-02-15 13:45] astirpe commented on #37
This issue can be closed, as the PRs #68 and #55 are merged

[2017-02-16 00:10] elicoidal commented on #45
:+1:

[2017-02-16 00:10] #45 closed

[2017-02-16 00:11] elicoidal commented on #37
:+1:

[2017-02-16 00:11] #37 closed

[2017-02-24 08:25] elicoidal commented on #60
Fixed by https://github.com/OCA/business-requirement/pull/66

[2017-02-24 08:25] #60 closed

[2017-02-25 13:15] #22 closed

[2017-02-25 13:17] elicoidal opened #75 "Addons list is not updated in README (9.0 and 10.0 branch)"
Currently addons list is not updated in the README.md for branches v9.0 and v10.0.
It is updated properly in v8.0.

Is there a specific setup?

[2017-02-27 07:55] elicoidal opened #77 "How to show Codecov in the PR?"
Currently the Codecov coverage is not displayed for business-requirement repository at the bottom of the PR along Travis and Runbot.

How to make it active?

[2017-03-02 14:33] lfreeke opened #78 "8.0 create quotation from opportunity"
When I'm in Opportunities and I click on the button 'Quotation from Business Requirements' I get the following error:

Traceback (most recent call last):
  File "/.repo_requirements/odoo/openerp/http.py", line 544, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/.repo_requirements/odoo/openerp/http.py", line 581, in dispatch
    result = self._call_fu

[2017-03-03 07:36] elicoidal commented on #78
@lfreeke Thanks for reporting.
We will have a look and report back to you

[2017-03-03 17:56] levkar opened #79 "Project/Task creation state"
Currently project task creation is possible in approved state. Shouldn't we create tasks after stakeholder approval? What if he doesn't approve?

I am also confused about order of the states.

Current state order:
Draft -> Confirmed -> Approved -> Stakeholder Approval -> In Progress -> Done

If it's business requirements which is in progress, shouldn't it be before it is being confirmed?
Draft ->

[2017-03-05 13:30] sbidoul commented on #75
You need to add the placeholder in README.md. It will then be updated nightly.

[code]

[2017-03-08 06:14] elicoidal opened #80 "[RFC] BI report for the business requirements"
Create a 3 BR reports including the following

## Common information for dimension:

*    from BR main information: name+description+customer+Master Project+change request+ Priority
*    from DL main information (outside join): Product+description
*    from RL main information (outside join): Product+description

## Report 1 (BR Cost control)
To be added in br_deliverable_cost.
Measures should be:

[2017-03-08 06:15] elicoidal commented on #80
@jbeficent @dreispt your opinion?

[2017-03-08 11:24] elicoidal opened #81 "[RFC] Earned Value Management Report"
## Objective

Create a Earned Value Management Report to link the information from the BR with the one from the timesheets

module: business_requirement_earned_value
dependency: hr_timesheets, business_requirement_deliverable
Menu: Reporting / Project
Entry Name: Earned Value Management

## Information for dimensions:

*    (A) BR name
*    (B) BR description
*    (C) BR Customer
*    (D) BR Maste

[2017-03-08 11:27] elicoidal commented on #81
@jbeficent What do you think?
I know that you currently have a module with similar scope but it is not integrated with BR (unfortunately I could not test it properly due to some traceback)
I dont know how we could merge the concept with BR management

[2017-03-09 07:07] victormartinelicocorp opened #82 "[RFC] Deliverable Lines and Resource Lines independent from BR"
In order to improve the usability of current view design based form/sub-form/sub-subform we want to switch to a smart button related design where deliverable lines and Resources lines are open via smart buttons

## Module business_requirement_deliverable

## Business Requirement Model

- partner_id
    - mandatory
- resource_lines
    - o2m business.requirement.resource
    - inverse business_requ

[2017-03-09 07:08] martintorresvm commented on #82
@elicoidal Please have a look

[2017-03-09 09:41] elicoidal commented on #82
Made some modifications: I will post in the business requirement group.

[2017-03-10 08:58] #78 closed

[2017-03-10 15:08] dreispt commented on #80
Sounds good to me. :+1:

[2017-03-10 15:28] JordiBForgeFlow commented on #80
Isn't this something you could easily accomplish with the BI builder?
Considering that migrating BI builder generated models across versions can
be painful, 👍

Regarding the BR for cost control, I think that it would be interesting to
have the total costs and gross profit directly computed in the DL, as
computed stored field, visible in the DL form view. That way you do not
need to compute it in t

[2017-03-11 01:39] elicoidal opened #84 "[RFC] Transfer the Gross Profit fields to the Deliverable lines"
Following https://github.com/OCA/business-requirement/issues/80#issuecomment-285697845, we should add at DL the gross profit calculated fields
![br_with_gp](https://cloud.githubusercontent.com/assets/7600613/23819224/57b8ad24-063e-11e7-8941-907945405c12.png)

Add them to the DL as followed:
![dl_with_gp](https://cloud.githubusercontent.com/assets/7600613/23819230/6a9de288-063e-11e7-95ba-f670cd984e

[2017-03-11 01:55] elicoidal commented on #80
Excellent idea. The BR total could still be generated anyway if necessary. See #84

[2017-03-11 01:59] elicoidal commented on #80
@jbeficent not sure about your comment:

Do you mean that we should not bother with this blueprint as the BI builder can do it?

[2017-03-11 05:19] JordiBForgeFlow commented on #80
Yes, but it is not yet clear to me how to migrate reports.generated by the
BI buiñder across versions.

You can check here https://github.com/OCA/reporting-engine/pull/59

On Mar 11, 2017 2:59 AM, "Eric @ Elico Corp" <notifications@github.com>
wrote:

[2017-03-11 06:49] elicoidal commented on #80
@jbeficent I think the BI editor is a powerful tool but i think as well that the modules should provide the standard basic reports to get started with out-of-the-box without hassle.
So I would go for this one.

[2017-03-11 06:50] JordiBForgeFlow commented on #80
Ok!

On Mar 11, 2017 7:49 AM, "Eric @ Elico Corp" <notifications@github.com>
wrote:

[2017-03-12 10:39] dreispt commented on #80
@elicoidal , still @jbeficent 's suggestion to have gross profit available would be great.

[2017-03-13 00:58] elicoidal commented on #80
@dreispt please check #84

[2017-03-15 07:41] elicoidal commented on #77
fixed with #73 #74 #76

[2017-03-15 07:41] #77 closed

[2017-03-15 07:43] elicoidal commented on #75
fixed with #73 #74

[2017-03-15 07:43] #75 closed

[2017-03-15 07:54] elicoidal commented on #79
Sorry for late reply (I thought I did reply but somewhere it got lost).

Project creation should only be available in "stakeholder approval state"
If the stakeholder does not approve there is no need to create the project right?

Current state order:
Draft -> Confirmed -> Approved -> Stakeholder Approval -> In Progress -> Done
If it's business requirements which is in progress, shouldn't it be bef

[2017-03-15 08:20] elicoidal commented on #79
normally not the case anymore. For this reason I close the issue but do not hesitate to reopen if necessary

[2017-03-15 08:20] #79 closed

[2017-03-15 10:43] victormartinelicocorp opened #85 "[RFC] ADD Kanban View on BR model and Form View"
Add Kanban view for the main BR menu.

The Kanban frame should contain (similar to task):

    Name+description
    Master Project
    Tags
    Priority (stars)
    # hours in Timesheets (from task related gather the Time spent) / # hours in Resource lines (Time planned on all RL Task Type)
    Tags
    Responsible (Photo)

Links to (similar to project):

    # tasks (to tree view with the Task re

[2017-03-15 17:25] levkar commented on #79
Thanks!

[2017-03-16 08:54] victormartinelicocorp opened #87 "[business_requirement_deliverable_cost] ACL Update Pricelist button on DL"
Group:  "business_requirement_deliverable.group_business_requirement_estimation" should be able see button ""Update Prices on Resource Lines"

Also make sure could execute the action linked. ACL or sudo() just on the function
def action_button_update_estimation(self):

[2017-03-16 08:54] martintorresvm commented on #87
@elicoidal

[2017-03-21 04:11] elicoidal opened #88 "[8.0] Cannot duplicate the business requirement"
When duplicating I get the following traceback:

Mar 21 12:05:18 superman docker/stable_odoo-elico_1[806]: 2017-03-21 04:05:18,710 249 ERROR elico_stable openerp.http: Exception during JSON request handling.
Mar 21 12:05:18 superman docker/stable_odoo-elico_1[806]: Traceback (most recent call last):
Mar 21 12:05:18 superman docker/stable_odoo-elico_1[806]:   File "/opt/odoo/sources/odoo/openerp/ht

[2017-03-22 01:01] elicoidal opened #90 "[8.0] Followers of the project are not added to the BR"
Expected is that when creating a new BR from a Master project, the followers from the master project are added to the BR.
Current behavior: no followers are added, only the BR creator.

[2017-03-22 01:02] elicoidal commented on #90
@victormartinelicocorp @sudhir-serpentcs

[2017-03-22 01:54] elicoidal opened #91 "[8.0] improve ACL for sales estimation"
Current behavior
Group "Business Requirement Estimation" is defined in module business-requirement/business_requirement_deliverable_cost/

Expected behavior:

Group "Business Requirement Estimation" is defined in module business-requirement/business_requirement_deliverable/

In tree view following Columns should only be visible for this group in the model and all forms (tree/form):
* unit_price
*

[2017-03-22 04:32] sudhir-serpentcs commented on #90
@elicoidal Sure.

[2017-03-24 01:04] elicoidal commented on #87
related to #94

[2017-03-24 01:05] elicoidal commented on #80
Implemented via #86

[2017-03-24 12:25] seb-elico opened #95 "[8.0] Master project overwritten with generated project"
Current behavior: When generating a project from a BR, the Master Project gets replaced by the generated project.

Expected behavior: Master Project of a BR must not change when generating the project.

I created #92 hoping it could solve the issue but Runbot wasn't working by then. Now I tested it and it doesn't fix the issue, unfortunately the PR has been merged already.

[2017-03-28 07:07] seb-elico opened #99 "[RFC] Kanban state"
It would be great to have a Kanban state on the BR, same way we have it for the tasks.

The standards states should be enough:
- "normal"
- "on hold"
- "ready for next step"

For instance, a BR at stage "Confirmed" with Kanban state "ready for next step" means that it has been estimated and is waiting for approval. Whereas a "normal" one means that the estimation needs to be finalized.

[2017-03-28 07:08] seb-elico commented on #99
@elicoidal please confirm

[2017-03-28 07:45] elicoidal commented on #99
:+1:

[2017-03-29 07:57] martintorresvm commented on #87
@elicoidal this PR is Closed

@sudhir-serpentcs Could you refer this Issue with the new PR when you have it?

[2017-03-29 11:16] elicoidal commented on #41
@victormartinelicocorp Is it implemented?

[2017-03-29 11:31] seb-elico opened #101 "[RFC] Editable fields depending on the stage"
Currently, the fields of a BR are only editable when it's in Draft stage. It's conflicting with the workflow. As a reminder, here's the meaning of the stages:

- Draft: prepare the scope on the first tab (at least Customer Story)
- Confirmed: customer has confirmed the scope, we can finalize the solution (Scenario, Gap Analysis, QA) and estimate it (Deliverables + Resources)
- Approved: the soluti

[2017-03-29 11:31] seb-elico commented on #101
@elicoidal @victormartinelicocorp

[2017-03-30 05:33] martintorresvm commented on #91
@elicoidal the PR https://github.com/OCA/business-requirement/pull/100 regards this issue is almost ready to merge just small changes.

[2017-03-30 05:51] martintorresvm commented on #41
@elicoidal I think this need further analysis.

`Estimator` like field new but I think it's always implicit. Because normally we set a DL with at least one RL and on that RL is the estimation (Hours, Days for time, Currency for money, etc)

Then who approves the BR is responsible of that estimation or not? or means is the Estimator?
For me seems very fuzzy and could means nobody is sure from which

[2017-03-30 06:18] elicoidal commented on #41
those 2 fields are here to assign the job so that people can filter on their name and see what they have to do, not to record the confirmation (which as you pointed out is already done).

I agree that Estimator might be fuzzy because some question might be technical, some functional.

So I would keep the reviewer and remove the estimator

[2017-03-30 09:38] martintorresvm commented on #41
@elicoidal One more question.
So imagine you ask me review a BR.
I add myself as a reviewer.
On which states should be possible edit this field?
Draft / Confirm and Approved?
cc @seb-elico

The ACL of course I think should only allow to my own user.
And the event of add a reviewer should be trace on the messages

[2017-03-30 09:48] elicoidal commented on #41
@victormartinelicocorp

OK with that

I would say that the BR responsible and anybody in BR Manager group could do that only

[2017-03-31 10:58] victormartinelicocorp opened #102 "[RFC] Improve business_requirement_deliverable_project category management"
Task could have main Category by install https://github.com/OCA/project/tree/8.0/project_task_category

On business_requirement_deliverable_project when generate Task want to set this Category and create the Task with.

I would propose new module:

business_requierment_deliverable_project_main_category

depends on
business_requierment_deliverable_project
and
project_task_category

[2017-03-31 10:58] martintorresvm commented on #102
@elicoidal @seb-elico Could review?

[2017-04-01 01:30] elicoidal commented on #102
:+1:

[2017-04-02 02:54] elicoidal commented on #101
:+1:

[2017-04-02 03:07] elicoidal commented on #90
Fixed by #93

[2017-04-04 00:42] #91 closed

[2017-04-07 00:44] elicoidal opened #108 "[RFC] Add total Revenue in BR tree view"
Currently: there is no total displayed at the bottom of the tree view for the revenue
Expected: display the total for the subset of records

[2017-04-07 07:33] victormartinelicocorp opened #110 "Use etherpad, same as for the tasks description"
Instead of html editor, use etherpad, same feature as created for the tasks description, available for all 4 fields (CS/Sc/Gap/Test Case)

* Customer Story
* Scenario
* Gap
* Test Case

To be improved on base module BR or added on new module business_requirement_etherpad

[2017-04-08 00:42] elicoidal commented on #110
@victormartinelicocorp
thinking about it, what I am not sure is whether the output of Etherpad is compatible with the qweb report (lists, images, etc.)

[2017-04-08 00:50] elicoidal opened #111 "List are not properly displayed in qweb report"
Here is the content of the field:

![screenshot from 2017-04-08 08-45-04](https://cloud.githubusercontent.com/assets/7600613/24824072/5f66995e-1c38-11e7-9ea5-a551c678db76.png)

The display on the qweb report is ugly and even misleading:

![screenshot from 2017-04-08 08-44-35](https://cloud.githubusercontent.com/assets/7600613/24824070/546bdca8-1c38-11e7-822d-53de5837eeff.png)

[2017-04-09 02:07] elicoidal commented on #81
fix by #107

[2017-04-10 07:50] elicoidal commented on #82
fixed by #113

[2017-04-11 03:08] victormartinelicocorp opened #114 "BR def name_get() Issue when use Group By on Task by business-requirement"
BR name_get use format() built in Python lib and if some string is unicode will happen like this:

Apr 11 10:44:25 superman docker/trunk_odoo-elico_1[806]:   File "/opt/odoo/additional_addons/business-requirement/business_requirement/models/business.py", line 256, in name_get
Apr 11 10:44:25 superman docker/trunk_odoo-elico_1[806]:     formatted_name = '[{}] {}'.format(br.name, br.description)
Apr

[2017-04-11 03:09] martintorresvm commented on #114
@elicoidal @seb-elico

[2017-04-11 04:32] seb-elico commented on #114
@victormartinelicocorp maybe you can try with the `%` substitution

[2017-04-11 04:54] seb-elico opened #115 "Design flaw for the link with the generated project"
Long story short, it's possible to generate multiple projects from 1 BR but there's only 1 field to store the generated project ("Linked Project").

Basically, when generating the projects from a BR, there are 4 options:

1. Not generate project (i.e. generated tasks are linked to the master project)
2. Generate 1 project
3. Generate 1 project per DL
4. Generate 1 project per child BR

Ideally, ea

[2017-04-11 04:55] seb-elico commented on #115
@elicoidal following our conversation, I prepared this issue
@victormartinelicocorp can you please prepare a BR to implement my 5 suggestions?

[2017-04-11 05:27] martintorresvm commented on #114
Yes indeed it's need to be changed by another method. I will create an Issue as well for us.
Here I need @elicoidal add the tags `bug` and `help wanted`

[2017-04-11 07:17] elicoidal commented on #115
:+1:

[2017-04-16 01:29] elicoidal commented on #115
@seb-elico Let's move fast on this: can you take that up directly with @sudhir-serpentcs?

I think there are multiple areas impacted but all in all those are small changes. Out of my head we need to think about:
* smart buttons in multiple views
* BI report for earned value
* Project generation

[2017-04-26 01:17] #41 closed

[2017-04-26 01:20] elicoidal commented on #46
This covered by new Kanban view #119

[2017-04-26 01:20] #46 closed

[2017-04-26 01:20] #80 closed

[2017-04-26 01:21] #81 closed

[2017-04-26 01:21] #82 closed

[2017-04-26 01:22] #84 closed

[2017-04-26 01:22] elicoidal commented on #85
fix by #119

[2017-04-26 01:22] #85 closed

[2017-04-26 01:24] elicoidal commented on #88
Fixed in current version of the modules

[2017-04-26 01:24] #88 closed

[2017-04-26 01:25] #90 closed

[2017-04-26 01:25] #95 closed

[2017-04-26 01:26] #101 closed

[2017-04-26 01:45] elicoidal commented on #111
@victormartinelicocorp @sudhir-serpentcs

[2017-04-26 01:45] #114 closed

[2017-04-26 01:45] #102 closed

[2017-04-26 04:13] elicoidal commented on #33
Currently not in the roadmap. Fill free to propose a PR

[2017-04-26 04:13] #33 closed

[2017-04-27 12:16] dreispt commented on #110
If you use Etherpad, make it an option.
I personally have security and privacy concerns about Etherpad, and prefer not to use it.

[2017-04-27 12:39] elicoidal commented on #110
@dreispt It would a separate module (like the one for the tasks).
Anyway I am not sure it is compatible with qweb printing.

[2017-04-27 12:43] dreispt commented on #110
AFAIK the Etherpad content is stored outside your DB, in the Etherpad server (hosted by Odoo SA?).
So I bet you won't be able to use it on QWeb.
Maybe it could be useful to have it alongside the the "official" HTML description, as a collaboration notepad.

[2017-04-27 13:31] elicoidal commented on #110
@dreispt Actually it is not where it is stored (we have a server for that) but the format itself which is basically plain text.
I like the idea of collaborative pad available but I'd rather have system-wide for any object.
Maybe start with a simple field notes in etherpad for the moment ;)

[2017-05-01 06:04] #108 closed

[2017-05-02 07:29] YogeshMahera-SerpentCS commented on #99
It means there should be only 3 kanban states as @seb-elico mentioned, right?. But then how should be mapping to the stages should be done with that of the kanban states? Like what knaban state should come under 'Approved' BR stage?
@elicoidal

[2017-05-02 07:41] martintorresvm commented on #99
@YogeshMahera-SerpentCS  The meaning in this case is something up to the functional consultant.
So just need to create these kanban states (selection field) regards BR object and display like is done on Task.

[2017-05-02 07:44] elicoidal commented on #99
Kanban states are available at any stage (like for the projects).

[2017-05-03 10:31] victormartinelicocorp opened #125 "[8.0] business_requirement_deliverable need to be consisten when DL and RL are related"
Because now RL and DL could be independent but if they are related between then should belong to same BR.
1) FIX

On the Resource Lines Form and Tree view should be not possible edit business_requirement_id

If business_requirement_deliverable_id is set

Add domain on Views to fix

readonly="{'business_requirement_deliverable_id', '!=', False}

2) FIX

On the Form Deliverable

if the business_requ

[2017-05-04 11:12] rubencabrera opened #127 "[8.0] Onchange product_id in deliverable."
This onchange might be a bit annoying when we come with context from another model and are creating a deliverable on the fly. If, from context, we had a description, and select a product, it replaces our text. If we change opinion and delete the selected product, we end up with an empty description, which is even more inconvenient, IMHO.

Is it ok if I create a PR to change this behavior? Any comm

[2017-05-04 11:21] martintorresvm commented on #127
onchange the product then should place the description only if that moment is empty.

Is what you mean?

[2017-05-04 11:24] rubencabrera opened #128 "[8.0] 'business.requirement.resource' object has no attribute 'price_total'"
The price_total field is (now) defined in the module business_requirement_deliverable_cost, which is not a dependency of business_requirement_deliverable, [where the field is referenced](https://github.com/OCA/business-requirement/blob/8.0/business_requirement_deliverable/models/business.py#L321).

[2017-05-04 11:25] rubencabrera commented on #127
That would be what I'd expect, are you ok with it?

[2017-05-04 11:36] martintorresvm commented on #128
Indeed is an issue. We need to decide if remove from calculation or add on **business_requirement_deliverable**

cc @elicoidal @seb-elico

[2017-05-04 12:12] elicoidal commented on #128
This is indeed not correct. It should be the sum of the costs in this part of the code.
To be fixed.
@rubencabrera thanks for pointing out!

[2017-05-04 12:19] elicoidal commented on #127
@rubencabrera thanks for the proposal: looks like a good idea.
Be careful: the onchange should continue triggering modifications for prices etc.

[2017-05-05 07:43] dreispt commented on #99
IMO the best practice is to have dynamic/configurable "Stages", and each stage is mapped to a predefined list of "states". The module default business logic should be tied to the "states", but the en user still has flexibility to tune the actual Stages seen in their Kanban.

The modules [base_kanban_stage](https://github.com/OCA/server-tools/tree/10.0/base_kanban_stage) and [base_kanban_stage_stat

[2017-05-06 00:15] elicoidal commented on #128
@rubencabrera
We are stabilizing the new version of the modules and somehow the cost and revenue fields got messed up: it will be fixed on Monday.
We are doing now integration testing with our current database (with 1000 Business Requirement database) so we will be able to spot some more in the coming days.
All in all I hope that by end of next week everything is (finally stable)

[2017-05-06 00:20] elicoidal commented on #125
fixed by #126

[2017-05-06 00:20] #125 closed

[2017-05-06 00:20] elicoidal commented on #127
fixed by #132

[2017-05-06 00:20] #127 closed

[2017-05-06 00:21] elicoidal commented on #128
Fixed by #131

[2017-05-06 00:21] #128 closed

[2017-05-06 00:22] elicoidal commented on #87
Fixed by #124

[2017-05-06 00:22] #87 closed

[2017-05-06 00:23] elicoidal commented on #99
fixed by #119

[2017-05-06 00:23] #99 closed

[2017-05-06 00:35] elicoidal opened #133 "[RFC] Migration Path"
A migration process was started a long time ago from v8 to v9.
In the meantime the whole structure of the files and strong improvements have been added to the v8 version of the module and v9 migration has been stopped.
Today the version of v8 is now stabilized and we will restart the migration process.
Current code is v9 is obsolete so I am wondering about the best course of action:
* Option 1: We

[2017-05-06 00:37] elicoidal commented on #20
#133

[2017-05-06 00:38] elicoidal commented on #133
#20 #48

[2017-05-06 22:49] pedrobaeza commented on #133
As these objects only have some connections with the rest of the system, I think it's simpler to start from 8.0 and change again the code that links with the rest seeing what it has been done on current v9 PRs.

[2017-05-07 11:09] elicoidal commented on #133
(seems like option 2)
I have the same feelings unfortunately

[2017-05-08 04:38] seb-elico commented on #133
@elicoidal to be noted that #115 is still on hold, I would suggest to wait until it's done before re-starting the migration.

[2017-05-08 06:53] elicoidal commented on #133
agree

[2017-05-12 01:37] elicoidal commented on #111
@victormartinelicocorp @sudhir-serpentcs @pedrobaeza @dreispt @sbidoul any idea?

Is this behavior normal or can we fix it?

[2017-05-12 05:50] sbidoul commented on #111
@elicoidal no idea. Try opening the report in HTML mode and looking at the exact html markup that is generated.

[2017-05-17 10:22] fausthuang opened #141 "Task smart button does not display BR related task (displays all tasks now)"
Currently, in BR screen, if we click the task smart button, it will not list the tasks related with this BR, but all tasks will be list.
actually, should just show this BR's tasks.

[2017-05-17 11:41] elicoidal commented on #141
Actually not sure: we cannot reproduce in Runbot so maybe this is a local issue.

[2017-05-25 06:45] elicoidal opened #144 "In stages missing the stage "drop""
We need 2 stages like in previous version:
* Cancel: the demand is irrelevant/erroneous
* Drop: decision is made not to pursue the BR

Currently only one (Cancel)

[2017-05-25 07:04] elicoidal opened #145 "Cannot change assignee in Resource lines in Stakeholder approval stage"

[2017-05-25 07:23] elicoidal opened #146 "Field Linked project should be readonly"

[2017-05-25 07:43] elicoidal opened #147 "Cannot duplicate BR"
When trying to duplicate a BR I have the following error:
AccessError

The requested operation cannot be completed due to security restrictions. Please contact your system administrator.

(Document type: business.requirement, Operation: read)

[2017-05-25 08:04] rubencabrera commented on #146
Isn't it already readonly? It's only editable on draft state, both on business_requirement and business_requirement_deliverable models. It seems to work as defined on my test db, can you give more detail to reproduce?

[2017-05-25 08:15] rubencabrera commented on #147
Have you checked your user's permissions? With the minimum level, Business requirement user, I get the same error but with "Operation: write", which might be right, as I understand it.

[2017-05-25 08:17] rubencabrera commented on #141
Happened to me too, but seems to be fixed on 8.0

[2017-05-25 08:17] elicoidal commented on #146
@rubencabrera even in draft state it should be read only.
This field is be automatically filed in when we generate the project.

I don't think there is a need to let the user input manually that information: do you have use case that would support to keep it not read only in draft (or more stages)?

[2017-05-25 08:23] rubencabrera commented on #146
I don't see the need for it to be editable, I also prefer the automatic link when generating project.

[2017-05-25 08:23] elicoidal commented on #147
@rubencabrera I have all proper user rights (estimation + cost control + Project manager)

A user should be able to duplicate any BR with relevant information according to its level of access.

We need to do some more test on the topic

[2017-05-25 08:24] elicoidal commented on #146
Thanks for your feedback. We will proceed then

[2017-05-25 08:24] rubencabrera commented on #146
Should it be readonly too for the deliverable?

[2017-05-25 08:31] elicoidal commented on #146
yes: although it is not visible in form view

[2017-05-25 08:33] rubencabrera commented on #146
Fine, I assumed that, you can test the PR to see if it fits.

[2017-05-26 06:27] elicoidal commented on #144
Actually the stage exists and can be used in kanban view but does not appear in the form view

[2017-05-26 06:27] elicoidal commented on #144
@darshan-serpent

[2017-05-26 06:31] serpentcs-dev1 commented on #144
Okay let me check

[2017-05-26 06:44] elicoidal opened #150 "The BR form view does not have cost control tab anymore"
This tab existed in previous version with following information:
Total Revenue (from deliverable)
Total cost for task (from resources)
Total cost for Procurement (from resources)
Total Gross Profit

[2017-05-26 06:44] elicoidal commented on #150
@darshan-serpent

[2017-05-26 06:46] elicoidal opened #151 "Unread mail filter doesnot work for BR"
Clicking on the unread sticker does not filter only by unread mails

[2017-05-26 06:46] elicoidal commented on #151
@darshan-serpent

[2017-05-26 06:47] elicoidal commented on #146
Fixed by #148

[2017-05-26 06:48] elicoidal opened #152 "Earned Value Analysis (div by zero)"
Still some potential division by zero errors in the BI report.
@darshan-serpent

[2017-05-26 07:42] elicoidal opened #153 "In DL tree view, move the currency column after the total revenue column"
@darshan-serpent

[2017-05-26 07:50] elicoidal opened #154 "Missing default sort on BR list (name desc)"
@darshan-serpent

[2017-05-26 07:53] elicoidal opened #155 "In Kanban view, missing space between BR name and BR desc."
@darshan-serpent

[2017-05-26 07:56] elicoidal opened #156 "Search in RL for customer or project doesnot work"
@darshan-serpent

[2017-05-26 07:57] elicoidal opened #157 "In RL tree view: UoM should be after the Qty. Sequence should be the first column"
@darshan-serpent

[2017-05-26 07:59] elicoidal opened #158 "By default, BR menu should display list view rather than Kanban"
@darshan-serpent

[2017-05-27 00:59] elicoidal commented on #157
#159

[2017-05-27 01:01] #157 closed

[2017-05-27 01:03] elicoidal opened #160 "In BR move the 2 fields Requested by and responsible just below the name"
Besides, change the order: Responsible first then Requested by

@darshan-serpent

[2017-05-27 01:04] elicoidal opened #161 "In BR form view, it should be possible to change the kanban state without editing the form"
@darshan-serpent

[2017-05-29 06:34] serpentcs-dev1 commented on #156
![with_space_customer1](https://cloud.githubusercontent.com/assets/20109026/26538760/588f0eb2-4466-11e7-82ca-75894713277f.png)

@elicoidal We checked the runbot and the search works fine on Customer and Project.

Also, make sure that you don't leave any whitespace in the front and the back, as while we were testing accidentally we also left one and we weren't able to receive the search result.

@v

[2017-05-29 12:41] serpentcs-dev1 commented on #151
@elicoidal Strange as we tested on local and runbot it works fine.

This are the steps we followed
- Created a new BR.
- Send message from demo user for the same BR
- And now the Admin user can see the BR with advanced search filter 'Unread Message'

![unread_filter](https://cloud.githubusercontent.com/assets/20109026/26550113/e421f2b8-4499-11e7-94ce-2114c9c2639a.png)

[2017-05-29 23:19] elicoidal commented on #156
@darshan-serpent Thanks!
Closing this one: internal data migration issue.

[2017-05-29 23:19] #156 closed

[2017-05-29 23:25] elicoidal commented on #151
OK: we will have to investigate more internally why. I am closing for now this one

[2017-05-29 23:25] #151 closed

[2017-05-30 09:02] #150 closed

[2017-05-31 01:25] #160 closed

[2017-05-31 01:36] #155 closed

[2017-05-31 07:14] serpentcs-dev1 commented on #158
@elicoidal

I checked BR menu which already displays list view by default. Can you please confirm?

![default_listview o](https://cloud.githubusercontent.com/assets/20109026/26619997/8c4cf626-45fe-11e7-8b7b-1c47d7f63fb9.png)

[2017-05-31 07:14] #154 closed

[2017-05-31 07:32] elicoidal commented on #158
OK: was not the case in the past. Sorry for the noise

[2017-05-31 07:32] #158 closed

[2017-05-31 13:45] #153 closed

[2017-06-03 06:42] #152 closed

[2017-06-03 06:43] #144 closed

[2017-06-03 10:58] elicoidal commented on #111
@sudhir-serpentcs any idea how to solve this?

[2017-06-03 10:58] elicoidal commented on #145
@darshan-serpent

[2017-06-03 10:59] elicoidal commented on #161
@darshan-serpent

[2017-06-03 11:07] #146 closed

[2017-06-03 11:34] serpentcs-dev1 commented on #145
I guess I missed this, will continue to work on this.

[2017-06-03 11:37] serpentcs-dev1 commented on #161
Yes, I am working on it. Actually not able to find the reason maybe it needs a JS tweak.

[2017-06-03 11:44] elicoidal commented on #161
It should be similar in behavior to the project or task widget no?

[2017-06-03 12:37] serpentcs-dev1 commented on #161
Yeah right tried to apply the same behavior but does not work in this case, strange!

No problem I'll double check it and fix it.

[2017-06-05 10:11] serpentcs-dev1 commented on #161
@elicoidal I was testing I found that the kanban_state stays non-editable if it is the inherited view.

But if I add the field `kanban_state` in business_requirement module it works smooth as silk.

[2017-06-05 11:38] elicoidal commented on #161
@darshan-serpent thanks for the feedback!
Strange but if so then can you transfer the field accordingly?

[2017-06-05 11:41] serpentcs-dev1 commented on #161
Yes I would do that, just let try this and let's see how it looks on runbot, till then I'll try to also find the reason from the root.

[2017-06-08 06:55] serpentcs-dev1 commented on #145
@elicoidal Here in RL we need state field from BR to make them readonly / editable. So I guess, we should create a related field of **state** of BR and use it in XML in attrs.

Let me know this is a right way to do this or there is any other way to achieve this functionality.

[2017-06-08 07:07] elicoidal commented on #145
It is reasonable to have in RL  information related/stored (depending) from the BR (customer, state, pricelist etc.)
So for me :+1:

[2017-06-08 08:14] victormartinelicocorp opened #170 "[business_requirement_deliverable_report] BR print report is not printing all BR selected on Tree view"
On the module: business_requirement_deliverable_report

Have a bug on print reports for more than one BR selected.

To reproduce the Issue just need to:

1. click on BR tree view and select more than one.
2. Then on click onPrint  menu button.
3. Select the one report (eg:  Bussiness Requirment Resources Report)
4. Will generate a report just with one BR.

Expected print all BR selected.

[2017-06-08 08:19] martintorresvm commented on #170
@elicoidal

[2017-06-08 08:28] elicoidal commented on #170
@darshan-serpent

[2017-06-08 08:47] rubencabrera opened #171 "[RFC] Business Req. proposal from issues"
The process suggested in this repo's modules, as I understand it, is collecting customer's needs in BRs and having the option to create tasks and projects from there.

That's very useful when starting a project, but in software development it is quite common to receive BRs in the form of project issues, especially when it is a Support customer.

I'm thinking about a module to cover this process:
+

[2017-06-08 09:21] rubencabrera commented on #147
Reviewing permissions everything seems fine for the BR models, might be a restriction on a related model. Going deep to find it is a pain, any permissions you don't have on any other objects (slightly) related to BR?

[2017-06-08 09:24] rubencabrera commented on #161
Someone please close so we don't keep checking it. Thanks @darshan-serpent for the PR!

[2017-06-08 09:27] rubencabrera commented on #141
I cannot reproduce this anymore, can you confirm the problem persists and give a bit more insight on which modules you have installed?

[2017-06-08 09:48] rubencabrera commented on #171
The  business_requirement_deliverable_crm module links opportunities and BRs, but assumes that it always starts from a lead. The case I am presenting is when the requirement comes directly to tech support and has to be transfered to business consultants or salesmen.

[2017-06-08 10:06] #161 closed

[2017-06-08 10:06] elicoidal commented on #161
Thanks for the follow up!

[2017-06-08 10:07] elicoidal commented on #141
We have the issue in our ERP but cannot reproduce it here.
I think this is linked to another module so I will close this issue here and open it privately

[2017-06-08 10:07] #141 closed

[2017-06-08 11:02] martintorresvm commented on #147
@rubencabrera  the problem starts with BRD and BRDCost modules.

As it's suppose that a BR user group can't see or modify some information about estimation or cost but still should be able to create or duplicate a BR with DL and RL related even if don't have rights to see that information.

The problem AFAIK only have one solution without start to modify `write`, `create`,..functions and is to mov

[2017-06-08 13:30] dreispt commented on #171
I agree that the described use case is relevant and should be considered.

[2017-06-08 13:43] rubencabrera commented on #171
Changed the title to narrow it down only to issues, as tasks can be created from BR when the proposal is approved and put to development. Please comment if anyone thinks of a case when this should be different.

Also gave it a bit of thought and it seems to me that linking the issue to the BR will be fine, as it fits perfectly (IMO) what the process of change proposal and approval involves.

[2017-06-08 14:19] dreispt commented on #171
Preferring to link with Issues sounds good to me.
If we can avoid a may2many, I suggest having 1 Issue -> N BRs.
The Issue should have a button/action "Create BR".

[2017-06-09 02:17] elicoidal commented on #171
We currently are thinking of refactoring the links between tasks, projects and BR via #115
Basically we think that the BR should be linked directly to a project and not tasks. In this view, a new task or new issue associated to a project would be accounted directly for the given related BR.
(I invite you to comment on original RFC for this topic)

Back to your question: I think it is valid with fo

[2017-06-09 07:36] dreispt commented on #171
For me it is not natural to have to create a new Project for a Change Request.
I see a CR as an amendment/addition to an existing Budget/Project.
Sure BRs must be linked to Projects, but I don't see why you can't link to an existing project rather than being forced to create a new Project.
So the link from Issue <-> BR is only instrumental; the important link will be from that BR <-> Project (of t

[2017-06-09 07:52] rubencabrera commented on #171
On our use case, the instrumental point of view fits perfectly.
Issues are managed by tech support, BRs by consultants, this button is just a way of telling them about a problem that needs analysis. The default project is the one assigned to the issue, usually automated by an alias from incoming emails.

The "change request of" is a very interesting feature but maybe for another module.

[2017-06-09 08:01] dreispt commented on #171
@rubencabrera This _is_ a CR implementation: CR is just a concept; it is implemented as an Issue with a linked BR.

[2017-06-09 10:52] elicoidal commented on #171
Speaking of which, you know that you can create alias for the BR to be created automatically?

@dreispt @rubencabrera OK with the requirement which is add a button in issue to automatically create a BR with following information:
* Name: name of the issue
* Project: project of the issue
* Responsible: assignee of the issue or current user

Do we need anything else in a wizard?

[2017-06-09 11:00] dreispt commented on #171
If it is, you can always add it later.

[2017-06-09 11:09] elicoidal commented on #171
True!

[2017-06-09 11:11] rubencabrera commented on #171
Already added some more default fields that seemed relevant. The user_id is used for multiple fields where usually another user will be assigned, but as an entry value it's good to have something.

[2017-06-14 10:20] serpentcs-dev1 commented on #170
@victormartinelicocorp I tested the steps you mentioned I guess this is because the [Attachement is set to True.](https://github.com/OCA/business-requirement/blob/8.0/business_requirement_deliverable_report/report/report.xml#L12)
 Try deleting it once and then you would be able to print the new one. It worked for us.
cc @elicoidal

![screenshot from 2017-06-14 15-46-19](https://user-images.githubu

[2017-06-14 10:31] martintorresvm commented on #170
@darshan-serpent Thanks. Then we'll see if need to set to false because for user is annoying that.

cc @seb-elico @elicoidal

[2017-06-14 12:47] sudhir-serpentcs commented on #111
@elicoidal  @victormartinelicocorp
fixed in qweb-report
is it perfect!
![screenshot from 2017-06-14 18-14-19](https://user-images.githubusercontent.com/13166978/27132720-873c9968-512d-11e7-81af-791c29cddba0.png)

[2017-06-15 05:43] seb-elico commented on #170
@Vic agreed let's not set it to `True` if that fixes the bug!

[2017-06-19 04:37] victormartinelicocorp opened #176 "[business_requirement_deliverable_report] BR print report is not printing RL if not related to an DL"
Need to fix reports for print BR with DL and RL.

That will print at the end also the RL that has only reference to the BR.

[2017-06-19 04:37] martintorresvm commented on #176
@elicoidal @seb-elico

[2017-06-19 04:48] elicoidal commented on #176
:+1:

[2017-06-19 05:31] elicoidal commented on #176
@darshan-serpent

[2017-06-19 05:33] serpentcs-dev1 commented on #176
Okay, will try to reproduce and then will resolve the same.

[2017-06-19 08:15] elicoidal opened #177 "[IMP] Improve Earn Value Management Report"
in dimensions:
- [ ] Add field BR Status
in seach view:
- [ ] Add Customer
- [ ] Add Project
- [ ] Add Res and Timesheet Product

I need to document more on the results but they are not consistent in our production database

[2017-06-19 08:15] elicoidal commented on #177
@darshan-serpent

[2017-06-20 08:49] #145 closed

[2017-06-20 08:50] elicoidal commented on #115
@sudhir-serpentcs could you have a look at this request and whether you could take over?
It is a little bit tricky to understand but the workload should not be that high.
cc @seb-elico

[2017-06-20 08:51] #111 closed

[2017-06-20 08:52] #171 closed

[2017-06-20 08:53] elicoidal commented on #170
@darshan-serpent can you create a PR for that?

[2017-06-20 08:58] serpentcs-dev1 commented on #170
@elicoidal Okay, I'll create a new PR, which removes the attachment facility!

[2017-06-20 10:04] seb-elico commented on #115
@sudhir-serpentcs I assigned you task 22070 to implement this request
@victormartinelicocorp please follow-up with Sudhir

[2017-06-21 06:56] elicoidal opened #178 "[IMP] Improve reporting"
Reporting
- [ ] Create an entry "Business Requirements" in the reporting menu and gather all current related reports to BR

In Reporting/Project/Deliverable Sales Analysis and Reporting/Project/Deliverable Cost Analysis
- [x] Merge Name and description into "Bus. Requirement" ("[name] Description")
- [x] Add the status and responsible of the BR in dimensions
- [X] ~Add Linked Project as dimension~

[2017-06-21 07:00] elicoidal opened #179 "[IMP] Add BR status in Deliverable and resources lines"
It should be possible to filter and group by BR status in the following menus:
- BR/BR Deliverable
- BR/BR Resources
Suggestion: add a related stored field and search menus

[2017-06-21 10:39] victormartinelicocorp opened #181 "[FIX] BR ordering on Tree view need to be fix"
As this line of code suggest:
https://github.com/OCA/business-requirement/blob/8.0/business_requirement/models/business.py#L13

The order when is displayed should correspond as:
`select * from business_requirement order by id desc, name desc;`

Actually the order is not according this expectation and confuse user when create a new BR.

[2017-06-21 10:40] martintorresvm commented on #181
@seb-elico @elicoidal

[2017-06-22 00:48] elicoidal commented on #181
Please see #180
Order should be reverse the name (which honestly should be the same as id).
id being unique I dont see the point of the second sorting key anyway.
@victormartinelicocorp @seb-elico

[2017-06-22 01:09] elicoidal commented on #181
Actually #180 is not working in Runbot so we are missing something

[2017-06-22 03:58] seb-elico commented on #181
@elicoidal :+1:

I confirm

[2017-06-23 02:11] elicoidal commented on #110
Let's move forward with this topic altering the requirement as suggested:
* Add a field tab "Notes" (before logs) with a field notes link to Etherpad.
* Name of the module: business_requirement_etherpad
* Depends on etherpad and business_requirements

cc @dreispt @rubencabrera @seb-elico @victormartinelicocorp

[2017-06-23 02:17] elicoidal commented on #170
@darshan-serpent Can you link the related PR?

[2017-06-23 06:04] #170 closed

[2017-06-27 10:04] elicoidal opened #184 "[RFC]Reference field improvements"
Today the Reference field usage is not clear and could be misinterpreted.
* Originally usage was to input a WBS or reference from the customer
* Name get removes the BR number and replace it by the Reference
Issue:
* A unique BR numbering is a mandatory in day to day work for consistency
* It is not clear the usage between Reference, WBS, Source (as additional link)

Proposal for improvement:
* Re

[2017-06-27 10:05] elicoidal commented on #184
@rubencabrera @dreispt @jbeficent @victormartinelicocorp @seb-elico

[2017-06-27 10:22] elicoidal opened #185 "[RFC] Information layout in BR form View"
Current information in Form view are too many and confusing, mixing important and not-so-important information.
Important information (keep in front):
* Responsible
* Customer (=>Partner)
* Master Project
* Linked project
* Reference (=> WBS #184)
* Source ( #184)
* Categories
* Priority
* To be Reviewed
* Reviewers

Information to move to tab "Other"
* Parent (=>Parent BR)
* Requested by
* Change

[2017-06-27 10:22] elicoidal commented on #185
@rubencabrera @dreispt @seb-elico @victormartinelicocorp @jbeficent

[2017-06-28 01:21] elicoidal commented on #179
#186

[2017-06-28 01:34] elicoidal opened #187 "When creating RL in the menu RL, wrong task category fields"
Current:
In Ressource Lines/Tree view: Task category is mandatory and a field Root Category For task is displayed and mandatory

Expected:
Task Category is not mandatory
No field Root Category for task displayed

[2017-06-29 08:48] elicoidal opened #189 "Add a button to copy the total revenue in Deliverable Lines"
Currently in the DL form view, the list of RL are providing an automatic calculation based on the resources and sales prices at RL level.
Total revenue at resource line level is displayed as a total.

For business reasons, this total is not updated automatically to the Deliverable lines: there might be multiple reasons not to apply the automatic calculation.

To ease though the data entry we sugge

[2017-06-29 09:43] elicoidal opened #190 "Sorting is not possible anymore for the RL"
Resources lines cannot be sorted anymore by drag and drop in the following views:
* Product templates
* Deliverable Form view
* Resource Line tree View

[2017-06-29 10:40] victormartinelicocorp opened #191 "[FIX] 8.0 Business Requirement states blank DL and RL smart button values"
Business Requirement states blank DL and RL smart button values

On change the BR state from "Confirmed" to "Approved" it seems set 0 these values.

[2017-06-29 10:40] martintorresvm commented on #191
@seb-elico @elicoidal

[2017-06-29 10:52] elicoidal commented on #191
confirmed

[2017-06-30 02:02] elicoidal opened #193 "Task category should be Readonly if procurement type"
In Deliverable form view, when selecting Procurement type in RL, it should not be possible to change the task category

[2017-06-30 02:05] elicoidal opened #194 "[br_project]When creating a project, a chatter notification should be added to the BR"
When creating a project, a chatter notification should be added to the BR
"Project XXX has been created" with a link to the project object.
One notification for each of the created project.

[2017-06-30 02:07] elicoidal opened #195 "[business_requirement] Cannot search BR by description"
Go to BR form view, in Parent field: it is not possible to search using the description of the BR (only name is searchable)

Expected: both name and description are searchable

[2017-06-30 02:13] elicoidal opened #196 "[br_project] Check BR status when creating Project from sub-BR"
Scenario:
1. Create 2 BR, one parent of the other.
2. Set the parent to Stakeholder Approval (only)
3. Click on Generate Project,
4. select create project for sub-BR

Result: Project is created for all BR even if not approved

Expected: a check should verify that the sub-projects are at stakeholder approval stage. if the sub-BR is not at stake holder approval with not linked project, the BR should

[2017-06-30 02:17] elicoidal opened #197 "[RFC] Change string of Customer field to Partner/Stakeholder?"
As a BR can be both for internal project or commercial project, it is suggested to change the name of res.partner related field to
1. Partner or
2. Stakeholder

Not sure which one could be the more suitable

[2017-06-30 02:18] elicoidal commented on #197
@lasley any advice as English speaking?

[2017-06-30 04:32] #179 closed

[2017-06-30 04:39] elicoidal opened #198 "[br_crm] Prices are zeroed when quotation is created from BR"
Create a opportunity and link to a project
Create BR with deliverable
Click on the button Create SQ from BR
Result: Quotation is created but prices are set to 0
Expected: Quotation is created but prices are set to the price in the deliverable

[2017-06-30 04:56] martintorresvm commented on #115
@YogeshMahera-SerpentCS I mention you as seems you are working on this Issue. Please create or commit on a PR peer day even if it's WIP.

[2017-06-30 08:53] elicoidal opened #199 "[br_project] When creating project, RL no linked to DL are not considered"
Create a BR with RL (not linked to DL) and try to create a project with the wizard.
Result:
Following message is displayed:
 ValidateError: There is no available business requirement resource line
to generate task

Expected: it is possible to create a  Project with the corresponding RL

[2017-06-30 10:03] sudhir-serpentcs commented on #190
@Eric I checked the views and I am able to sort RLs in all 3 views you specified.

[2017-06-30 10:53] elicoidal commented on #190
In Resource line/Treeview:OK for drag and drop.
In following screen there is no way to drag and drop (Deliverable):
![screenshot from 2017-06-30 18-50-07](https://user-images.githubusercontent.com/7600613/27732730-4736040e-5dc5-11e7-8329-0b44614811d9.png)

In following screen neither (template):
![screenshot from 2017-06-30 18-51-38](https://user-images.githubusercontent.com/7600613/27732736-50b95

[2017-06-30 12:27] serpentcs-dev1 commented on #189
@elicoidal

So you need a button in the DL which will just sum the total revenue from all the RL and will propagate it to the DL's total revenue??

 Is this what you mean?

[2017-06-30 23:32] elicoidal commented on #189
as simple as that yes. Only for the given deliverable.
@darshan-serpent

[2017-07-01 17:36] lasley commented on #197
Just to make sure I'm clear on the field definition: This is representing the requestor/beneficiary of the business requirement's goal or end product?

If that's the case, Stakeholder is the best IMO

[2017-07-02 07:40] elicoidal commented on #197
@lasley That is correct: it could be a customer or an internal department or whatever party that would benefit from the BR.
Thanks the for the confirmation: Stakehoder would make sense to me too (We have already a Stakeholder approval stage so it would become more consistent)

[2017-07-03 11:44] #176 closed

[2017-07-04 05:27] serpentcs-dev1 commented on #191
@victormartinelicocorp @elicoidal I think this issue would be resolved now, as the above referred PR is merged. Could you please confirm/review??

[2017-07-04 06:05] elicoidal commented on #191
@darshan-serpent We will update in production server and check with actual data

[2017-07-04 06:48] serpentcs-dev1 commented on #189
Still, one little thing to clear.

There's already a field in DL called Total Revenue, which right now is computed as `sale_price * qty`

So now... should we append the calculation of RL total revenue to the DL revenue field or totally should replace??

![deliverable lines odoo](https://user-images.githubusercontent.com/20109026/27818342-def02c08-60b2-11e7-8f76-5cd79571050f.png)

[2017-07-04 06:57] elicoidal commented on #189
@darshan-serpent https://github.com/OCA/business-requirement/pull/211#issuecomment-312795556
I have clarified my initial requirement: it should update the Sales Price field.
Let me know if still unclear

[2017-07-04 07:45] martintorresvm commented on #147
@elicoidal Since I have solved the main problem we had with #172 about functional part.

For the remaining problem that we could have about access through Erppeek script or another there is no solution as the basic requirement of security and functionality wants the opposite.

Security says don't give CRUD access to this computed fields.
Functional says give access at least to C,U,D to make it pos

[2017-07-04 08:20] elicoidal commented on #147
@victormartinelicocorp true: or use a SUDO for the copy of BR

[2017-07-04 08:40] martintorresvm commented on #147
@elicoidal I know that originally for you just had that issue on duplicate.
But for other users I had to give cost access as they couldn't even check (read) or modify their BR because of this.

[2017-07-04 10:19] elicoidal commented on #147
True...

[2017-07-10 03:39] #181 closed

[2017-07-10 03:40] #184 closed

[2017-07-10 03:40] #185 closed

[2017-07-10 03:41] #189 closed

[2017-07-10 03:41] #191 closed

[2017-07-10 03:42] elicoidal commented on #197
@sudhir-serpentcs @darshan-serpentcs Can you proceed?

[2017-07-10 03:42] #198 closed

[2017-07-11 08:47] YogeshMahera-SerpentCS commented on #197
Shall I proceed? @elicoidal

[2017-07-11 09:14] elicoidal opened #213 "Refactor EVM report after #115"
#115 has changed the way the BR and the projects are linked together.
EVM should be refactored in order to take into account the new relationship between both models
@sudhir-serpentcs

[2017-07-11 09:19] elicoidal commented on #197
@YogeshMahera-SerpentCS Yes please

[2017-07-12 00:43] #197 closed

[2017-07-12 05:10] elicoidal opened #215 "Set default values at BR creation"
Set default in BR form view:
* Responsible: should be current user

Set default in BR deliverable form view:
* UoM: should be set to Unit(s) (standard UoM)

Set default in BR Resource lines in Deliverable form view:
* UoM: should be set as followed.
   * Hour(s) if "task" is selected and UoM is empty or
   * Unit(s) if "procurement" is selected and UoM is empty
(both standard UoM)

[2017-07-12 05:28] martintorresvm commented on #215
@elicoidal Could you create in advance a branch for this topic?

[2017-07-13 00:52] elicoidal opened #217 "Improve Search function name+description for BR search view"
Currently the search in tree view is either name or (exclusive) description.
Expected: possibility to search at the same time name or description.

Linked to #195  and #203

[2017-07-17 06:43] #110 closed

[2017-07-17 06:44] elicoidal commented on #147
Identified the issue to ACL in local database.

[2017-07-17 06:44] #147 closed

[2017-07-17 06:44] #187 closed

[2017-07-17 06:45] #194 closed

[2017-07-17 06:45] #195 closed

[2017-07-17 06:46] elicoidal commented on #190
@sudhir-serpentcs

[2017-07-17 07:34] sudhir-serpentcs commented on #190
@elicoidal Is it related to drag-drop or sorting? The issue is for sorting the RLs but you said:
`In following screen there is no way to drag and drop (Deliverable)`
Can you please let me know whether I have to work for sorting or for drag-drop?

[2017-07-17 07:48] elicoidal commented on #190
I think the wording is not clear .

Basically we should be able to:
1 create the template RL in the product
2. drag and drop to fix the right sequence for the template RL
3 import the RL using the deliverable with proper sorting fixed in 2
4. change if necessary the sequencing by drag and drop

@sudhir-serpentcs

[2017-07-21 07:36] #199 closed

[2017-07-21 12:03] #217 closed

[2017-07-21 12:04] elicoidal commented on #115
Fixed by #192

[2017-07-21 12:04] #115 closed

[2017-07-21 12:04] #190 closed

[2017-07-21 12:06] elicoidal commented on #178
Dropped because the pivot tables in the main menu are good enough

[2017-07-21 12:06] #178 closed

[2017-07-21 12:06] #196 closed

[2017-07-21 12:07] #215 closed

[2017-07-21 12:07] #193 closed

[2017-07-24 09:12] YogeshMahera-SerpentCS commented on #213
@elicoidal
#115
I have tested the EVM report as per new relationship it's working fine. The changes are already complaint to the code. So I think it is perfect. Could you please brief or point out any particulars. Thanks!

[2017-07-24 10:26] elicoidal commented on #213
@YogeshMahera-SerpentCS I don t think this is as automatic.
Besides the report was not working well before: I will test it in our database which contains thousands of lines

[2017-07-25 11:26] elicoidal commented on #20
Branch has been dropped following #133
New branch has been initialized with the newest version of the v8 modules.

[2017-07-25 11:26] #20 closed

[2017-07-25 11:27] elicoidal opened #222 "Migration to version 9.0"
# Todo

Please check the following link before proceeding to the migration: https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate

When you pick a module, input your github id and the PR number after the name of the module:
- [ ] business_requirement
- [ ] business_requirement_deliverable
- [ ] business_requirement_deliverable_cost
- [ ] business_requirement_de

[2017-07-25 11:30] elicoidal commented on #133
Branch 9.0 and 10.0 have been reintialized from the latest v8 set of modules

[2017-07-25 11:30] #133 closed

[2017-08-17 04:25] elicoidal opened #239 "[br_etherpad] Remove the label "notes""
In the Etherpad, the label of the field is displayed which is redundant with the tab name.
Expected: remove the label of the field Note
Affected: v8 and v10

[2017-08-17 04:26] elicoidal commented on #239
@sudhir-serpentcs

[2017-08-17 04:34] elicoidal opened #240 "[brd_project] Link to BR should be displayed in the projects generated from deliverables"
Currently if a project is generated from deliverable only the link to the deliverable is displayed in th e project form.
Expected: link to the deliverable and link to the BR are displayed in the project form.

Affects v8 and v10

[2017-08-17 04:38] elicoidal opened #241 "[brd_project] Tasks are generated in the parent project"
How to reproduce: generate multiple projects based on deliverables.
Currently the sub-projects are created for each deliverable but all tasks are assigned to the parent project.
Expected: tasks from each deliverable should be assigned to the corresponding sub-project (linked to the deliverable) .

Affects v8 and v10

[2017-08-17 04:43] elicoidal opened #242 "[brd_project] Improve the naming of smart button titles"
In BR view, click in smart button "Tasks". In corresponding view the title is "Action Task related BR" (Expected "Tasks").
In BR view, click in smart button "Linked Project". In corresponding view the title is empty (Expected "Projects").

Affects: v8 and v10

[2017-08-23 06:40] martintorresvm commented on #241
@elicoidal @seb-elico This Issue is related with #192

Means we replace partially the relation between BR and Project but still there is quite a lot of crossed references and conditions about `br.linked_project` and `brd.linked_project` (both obsolete).

So is not a quick fix. I will need more time to replace and check the conditions.
So exist dead code as will never called need or should not be t

[2017-08-23 07:10] martintorresvm commented on #241
@elicoidal Could you dispatch to @YogeshMahera-SerpentCS?

@YogeshMahera-SerpentCS  Let me know if it's clear.

If `for_br` and `for_deliverable` is selected means:

create one project per BR
create one project per DL
create one task per RL (If a RL is linked to a DL each RL task should be linked to the related DL project)

Noted that actually `for_br` is default `True` and `editable=False` so it

[2017-08-23 10:39] elicoidal commented on #241
@victormartinelicocorp no I cannot as he is not in the group

[2017-08-24 05:26] martintorresvm commented on #240
To be done with #241, please noted @YogeshMahera-SerpentCS

[2017-08-24 05:28] martintorresvm commented on #242
IMO to be done as well within #241
@YogeshMahera-SerpentCS?

[2017-08-24 05:37] YogeshMahera-SerpentCS commented on #242
@victormartinelicocorp Noted!

[2017-08-31 05:07] martintorresvm commented on #241
@elicoidal @seb-elico Solved? Could we close this issue?

[2017-08-31 05:32] victormartinelicocorp opened #246 "[IMP] RL linked to Task"
Need to modify RL to have task_id linked.

When generate project will fill the corresponding task created to the original RL.

module to improve business_requirement_deliverable_project.
models:
class BusinessRequirementResource
+ task_id(
'project_task',
readonly=True,
)

wizard:
After this line:
https://github.com/OCA/business-requirement/blob/8.0/business_requirement_deliverable_project/wizard/

[2017-08-31 05:34] martintorresvm commented on #246
@elicoidal @seb-elico  Please have a look.

[2017-08-31 06:22] seb-elico commented on #246
@victormartinelicocorp Thanks, I'm on it!

[2017-08-31 06:49] elicoidal commented on #246
to be fixed in v8 and v10

[2017-08-31 06:52] elicoidal commented on #241
Yes it is soved by #245

[2017-08-31 06:52] #241 closed

[2017-09-05 07:56] seb-elico commented on #246
@elicoidal @victormartinelicocorp Actually this link already exists in the task (field `br_resource_id`) so it's enough on a SQL point of view. ~~Only problem is the data is not up-to-date due to historical reasons (this field has been added recently), so we'll have to "manually" migrate the data.~~

EDIT: After double-checking, it seems the historical data is already ok, I'll update the reports a

[2017-09-18 06:22] #246 closed

[2017-09-18 06:23] #239 closed

[2017-09-18 06:23] #240 closed

[2017-09-18 06:23] #242 closed

[2017-09-18 06:24] #177 closed

[2017-09-18 06:24] elicoidal commented on #213
Will be fixed later on in v10.

[2017-09-18 06:24] #213 closed

[2017-09-18 06:51] elicoidal opened #249 "Improve and standardize BR groups in user view"
Here is the current view in the user form view concerning the ACL groups.
![screenshot from 2017-09-18 14-44-04](https://user-images.githubusercontent.com/7600613/30531303-ec4626ec-9c7f-11e7-9f8e-8e504001774f.png)

There are multiple improvements we can make about it:
* The groups BR manager should inherit from BR Stakeholder and this one from BR user and be displayed in a selection box
* The grou

[2017-09-18 06:51] elicoidal commented on #249
@YogeshMahera-SerpentCS please have a look

[2017-09-18 06:52] YogeshMahera-SerpentCS commented on #249
@elicoidal  Yes

[2017-09-20 04:12] elicoidal opened #250 "When selecting a master project, should only show active projects"
Expected: when selecting a master project in BR, we should only show active projects (e.g. not closed, not cancelled)
Currently: sees all projects

[2017-09-20 04:12] elicoidal commented on #250
@seb-elico @YogeshMahera-SerpentCS

[2017-09-20 04:18] elicoidal commented on #249
fixed

[2017-09-20 04:18] #249 closed

[2017-09-20 06:35] elicoidal commented on #250
#251

[2017-09-21 03:01] elicoidal opened #252 "In deliverable Gross Profit calculation is wrong with foreign currency"
Current behavior:

Total revenue | 1,681.90                               €
-- | --
Total procurement | 998.00 CNY
Total tasks | 0.00 CNY
Estimated Gross Profit | 683.90

Expected behavior:
* A new field Total Revenue in company Currency to be added below with the proper currency conversion
* the new field is used for the gross profit calculation

[2017-09-21 03:02] elicoidal commented on #252
@YogeshMahera-SerpentCS To be fixed for v10

[2017-09-21 03:07] elicoidal opened #253 "In BR the cost control calculation is incorrect"
Current behavior
summary of the DL/RL:
![screenshot from 2017-09-21 11-04-11](https://user-images.githubusercontent.com/7600613/30677166-b38542cc-9ebc-11e7-80d7-b790041ebf12.png)

In BR the cost control (company currency is CNY):
Currency | EUR
-- | --
Total Revenue | 178,540.65
Total procurement | 3,158.00
Total tasks | 34,960.00
Estimated Gross Profit | 140,422.65

Expected behavior:
- Total rev

[2017-09-21 03:25] elicoidal opened #254 "Deliverable lines in the report should follow the order of the sequence"
Currently deliverable lines in reports are sorted by DB id
Expected: sorted following the DL sequence
NB: should be the same for the RL

[2017-09-21 03:26] elicoidal commented on #254
@YogeshMahera-SerpentCS

[2017-09-21 03:26] elicoidal commented on #253
@YogeshMahera-SerpentCS

[2017-09-21 03:26] #250 closed

[2017-09-21 13:13] YogeshMahera-SerpentCS commented on #253
@elicoidal
Fixed issue in v8 and v10 #225 and #255

[2017-09-22 08:01] elicoidal commented on #253
@YogeshMahera-SerpentCS this is milestones 10.0

[2017-09-22 10:20] victormartinelicocorp opened #256 "10.0 business_requiremente_deliverable module Roadmap for pricelist calculation"
Remove function `_get_pricelist` and all it calls:
https://github.com/OCA/business-requirement/blob/10.0/business_requirement_deliverable/models/business.py#L227

Add on business.requirement module
[code]

Check all methods we called before to the function  `_get_pricelist`:

 1. Now should be get the value from the pricelist_id so on `business.requirement.deliverable` model we need to get from th

[2017-09-22 11:08] martintorresvm commented on #256
@elicoidal Please have a check and if correct add to the milestone to v10.0

[2017-09-25 07:51] elicoidal commented on #256
Partner should not be mandatory and neither the pricelist.
If there is no pricelist found, the DL or RL sales prices should be the product sales price.

[2017-09-25 07:52] elicoidal commented on #256
@victormartinelicocorp

[2017-09-25 07:59] martintorresvm commented on #256
If there is no pricelist found, the DL or RL sales prices should be the product sales price.

@elicoidal I will amend it.

[2017-09-28 07:41] elicoidal commented on #256
:+1:

[2017-09-30 06:06] #253 closed

[2017-09-30 06:09] elicoidal commented on #252
fixed by #225

[2017-09-30 06:09] #252 closed

[2017-09-30 06:10] elicoidal commented on #256
fixed by #225

[2017-09-30 06:10] #256 closed

[2017-10-02 05:05] elicoidal commented on #254
@YogeshMahera-SerpentCS Can you take care of this?

[2017-10-02 05:18] elicoidal opened #259 "Improve Printouts Headers"
Changes to all reports (4 in total)
- [x] Reduce space between "Business Requirement¨ and name
- [x] Center name "BR000006- Gap Analysis"
- [x] Rename Project => Master Project
- [x] Customer Story => Stakeholder Story
- [x] Customer => Stakeholder
- [x] Creation/Confirmation/Approval => should be date, not date/time
- [x] Approval date should be when the SOA state is changed
- [x] Reduce Change r

[2017-10-02 05:18] elicoidal commented on #259
@YogeshMahera-SerpentCS

[2017-10-03 14:01] pedrobaeza opened #260 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [x] business_requirement - By @victormmtorres - #309
- [x] business_requirement_deliverable - By @victormmtorres - #311
- [ ] business_requirement_deliverable_cost
- [ ] business_requirement_deliverable_crm
- [ ] business_requirement_deliverable_project
- [ ] business_requirement_deliverable_pro

[2017-10-04 12:13] YogeshMahera-SerpentCS commented on #254
@elicoidal Yes I am on it

[2017-10-06 13:19] #259 closed

[2017-10-06 13:20] #254 closed

[2017-10-30 06:21] elicoidal commented on #222
This request has not attracted interest so I will close it. It is unlikely that we will start a migration to v9, now that v11 is around the corner

[2017-10-30 06:21] #222 closed

[2017-10-30 06:22] elicoidal commented on #48
All good!. Migration Finished

[2017-10-30 06:22] #48 closed

[2017-10-30 07:26] pedrobaeza commented on #48
Congratulations!

[2017-11-14 03:46] elicoidal opened #265 "Add a new field "Terms and conditions""
Type: HTML (similar to Stakeholder Story)
Placement: after the "use case" field.
Printout (4) to be amended too
@seb-elico

[2017-11-17 21:09] emagdalenaC2i commented on #260
seems that the master branch is 10.0, is it ok?

[2017-11-18 01:32] elicoidal commented on #260
@emagdalenaC2i yes I set it to 10.0 as this is the main active code today. Migration to v11 has not yet started and when we have a decent volume of code we will switch to v11

[2018-01-03 03:00] XXXXLM opened #271 "Time unit conversion"
When a task is automatically generated on br's resources, the time unit is not automatically converted into hours.
@elicoidal

[2018-01-03 03:04] Miya609 opened #272 "Task page display"
If the task name is too long, the page will be biased to the right.
@elicoidal

[2018-01-03 07:39] elicoidal commented on #271
@Miya609 please go ahead and fix

[2018-01-03 07:41] elicoidal commented on #272
@Miya609 I am not sure there is an easy fix for that. I consider it nice to have for the moment.

Can you upload a screenshot as example?

[2018-01-03 07:49] XXXXLM commented on #272
@elicoidal
![issue1](https://user-images.githubusercontent.com/33017782/34512461-ae027ad0-f09d-11e7-9668-f7b7ccb8f4d0.png)

[2018-01-03 08:50] Miya609 commented on #271
@elicoidal I need a extra task to input TMS.

[2018-01-05 04:17] elicoidal commented on #271
fixed by #273

[2018-01-05 04:18] elicoidal commented on #265
fixed by #266

[2018-01-05 04:18] #265 closed

[2018-01-05 04:19] elicoidal commented on #272
This is an Odoo related bug so closing it. To be reported to the Odoo repo with a proper example

[2018-01-05 04:19] #272 closed

[2018-01-05 04:30] elicoidal opened #275 "[RFC] New feature: start a quotation directly from BR"
Current modules allow to start a set of quotation from opportunities. In some cases this is not convenient (for example for single additional BR).

We should add a button in the BR that allows to create a quotation directly from the BR itself (one single quotation from one single BR and children).
Use case (one single BR):
1. User input information in the BR (scope+deliverable+resources)
2. User c

[2018-01-05 04:31] elicoidal commented on #275
@seb-elico @lonelysun @victormartinelicocorp FYI

[2018-01-06 00:19] elicoidal opened #276 "Cost Price is not update in resource lines according to UoM"
This is a similar issue to #273
How to reproduce:
1. Set a cost price in the service product used in resource (eg: 35 / h) with the main UoM "hour(s)" set in the product.
2. Create a resource line and change the UoM to "day(s)"
3. (Current) The cost price is not changed based on the new UoM
Expected: the Cost Price is converted based on UoM factor
Side issue: When clicking on the button "Update Pr

[2018-01-06 00:19] elicoidal commented on #276
@miya609

[2018-04-03 11:02] andhit-r opened #280 "Field for_br readonly on wizard view"
Hi @elicoidal ,

Is there any reason why field for_br is readonly? https://github.com/OCA/business-requirement/blob/e7247494859dea135a9048e2f6da116a1cda5870/business_requirement_deliverable_project/wizard/generate_projects_view.xml#L21

There are already code to cover when for_br is False https://github.com/OCA/business-requirement/blob/e7247494859dea135a9048e2f6da116a1cda5870/business_requirement

[2018-04-04 05:17] elicoidal commented on #280
@andhit-r We originally disabled the function because we didnot need it and didnot have time to develop it (that was at the time we curated the links between projects and BR)
No problem to reactivate it but the creation methods need to be reviewed accordingly
@seb-elico any additional information?

[2018-04-04 07:23] seb-elico commented on #280
@elicoidal @andhit-r
Actually the main reason is that right now, the link between a task and the BR it originated from is coming from the project to which belongs the task which has been generated from the BR. But it appears that there's a link between the task and the resource line, so it's technically possible to find from which BR the task originated by using this task/RL link. If we use the li

[2018-04-04 08:15] andhit-r commented on #280
@elicoidal @seb-elico thank you for your input. I will look @seb-elico point before i make the modification.

[2018-04-04 08:15] #280 closed

[2018-05-09 08:12] lonelysun opened #281 ""business.requirement.resource.template" linked to "project.task" by categ_id"
business.requirement.resource.template should M2O to project.category not project.task
@elicoidal

[2018-07-19 06:02] elicoidal opened #288 "List incorrectly displayed in the qweb report"
It is due to an official [official bug](https://github.com/odoo/odoo/issues/7375#issuecomment-406147127).

Would require to adapt the css

[2018-07-19 06:43] defcon19 opened #289 "Function of WBS fields"
When I try Install this module, I see WBS field,
WBS that I know is Work breakdown structure.
Is the same fungction or diferent about WBS in this modules

Regards

[2018-07-19 07:05] elicoidal commented on #289
Hi @defcon19 thanks for reporting.
Indeed WBS stands for [Work breakdown structure](https://en.wikipedia.org/wiki/Work_breakdown_structure)
You can specify a [WBS Coding Scheme](https://en.wikipedia.org/wiki/Work_breakdown_structure#Coding_scheme) in the field: it will appear in the list view for easy sorting and in the BR name.

To be noted that there is no automatic WBS numbering.

[2018-08-06 03:10] seb-elico opened #290 "Duplicated task still linked to the resource line"
When a task which have been generated from a resource line is duplicated, it's still linked to that resource line.

This causes issues for reporting purposes, as this task should be considered an un-planned task - e.g. it's the same as if a brand new task had been created and linked to that BR through the project, that would be an un-planned task.

Since the task is linked to the resource line, re

[2018-09-04 08:16] #289 closed

[2018-09-04 08:32] elicoidal opened #291 "[RFC] add a "Step" field in the Resource Lines"
In order to add a light management of milestones without having a dedicated models, I would like to suggest to add a field Step (Char) in the resources lines that the user can fill in to indicate at which step (or milestone) the resource line (or task) is expected.
* The field should be added to the tree view of the RL
* When the project is created from the RL, the field would be populated to the

[2018-09-04 08:32] elicoidal commented on #291
cc @seb-elico

[2018-09-05 07:22] JoJoJoJoJoJoJo commented on #290
Not reproduced, in which report can we see the wrong total time? @seb-elico

[2018-09-10 01:03] #271 closed

[2018-09-10 01:04] elicoidal commented on #276
@JoJoJoJoJoJoJo

[2018-09-10 01:05] elicoidal commented on #290
@seb-elico

[2018-09-10 11:34] seb-elico commented on #290
@Joseph
Project completion report. To be clear, do not modify the report!
------------------
Sébastien Maillard [Chief of Staff]
Phone: +86 186 2103 7589 (Cell), +86 21 6211 8017/27/37 (Office)
Elico Shanghai (Hong Kong/Shenzhen/Singapore)
Odoo Gold Partner // Best Odoo Partner APAC 2014 and 2016

------------------ Original ------------------
From:  "Joseph Wang - Elico Corp"<notifications@github

[2018-09-11 07:10] JoJoJoJoJoJoJo commented on #290
On hold as pr for migration of project_completion_report is not merged.

[2018-09-12 00:43] #276 closed

[2018-09-12 09:33] seb-elico commented on #290
@JoJoJoJoJoJoJo to be clear, when a task is duplicated, you need to set the `br_resource_id` to None

[2018-09-27 00:03] OCA-git-bot opened #295 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate
- [x] business_requirement - By @victormmtorres - #315
- [x] business_requirement_deliverable - By @victormmtorres - #316
- [x] business_requirement_crm - By @victormmtorres - #320
- [x] business_requirement_sale - By @victormmtorres - #325
- [x] business_requirement_sale_timesheet - By @victormmto

[2018-11-02 02:53] seb-elico commented on #291
LGTM

[2019-03-21 01:06] elicoidal opened #300 "Improve SQ generation from BR in BRD_CRM module"
We need to refactor slightly the generation of quotation (currently only possible from CRM Opp.):
* SQ generation should be called from Opportunity or from BR directly (New)
* In BR model, add a option in `more` menu "Create quotation" so that we can create quotations directly from BR
* SQ Creation can be called for single BR or multiple BR.
* In BR form view/Other Tab: add a field "Linked quotati

[2019-03-21 01:31] elicoidal opened #301 "[RFC] New module business_requirement_procurement to generate procurement out of resources lines"
From the resources lines a procurement request should be created when the type is procurement for the provided quantity.

Multiple options might need to be considered for the generation:
* simple PO generation or consider PO or tender for Buy products
* consider full procurement based on routes (Manufacture/Buy/Procure)
* some set up is needed at BR level to indicate the main route for procurement

[2019-03-21 01:49] elicoidal commented on #288
will not be fixed in v10.
Works fine in v12

[2019-03-21 01:49] #288 closed

[2019-03-21 01:51] elicoidal commented on #300
see #275

[2019-03-21 01:53] elicoidal commented on #260
Migration to v12 is ongoing.
No migration to v11 planned.
If anybody interested, please reopen the issue

[2019-03-21 01:53] #290 closed

[2019-06-01 14:58] emagdalenaC2i commented on #295
@elicoidal
Please uncheck business_requirement - By @ruter-lyu - #296 is not already merged

Please uncheck business_requirement_deliverable - By @ruter-lyu - #297 is not already merged

Please uncheck business_requirement_deliverable_cost - By @ruter-lyu - #298  is not already merged

Please uncheck business_requirement_deliverable_crm - By @ruter-lyu - #299  is not already merged

[2019-06-04 09:26] pedrobaeza commented on #260
Reopening as we are going to use this and refactor a bit. Only FYI.

[2019-08-07 10:02] victormmtorres opened #321 "[11.0][12.0] Access rights integration with website module"
Steps to reproduce with any user which has no business requirement and portal groups
Go to menu: website>website>My account

Tested on Runbot 11.0:
[code]

On 12.0:
Not yet as no module depends on website on the current migration status but as soon installs website app manually it happens.

[2019-08-07 10:03] martintorresvm commented on #321
cc @Tecnativa

[2019-08-07 10:03] pedrobaeza commented on #321
Please add the PR with the fix

[2019-08-21 16:57] #321 closed

[2019-08-28 11:17] pedrobaeza commented on #295
Closing as main modules have been migrated with the revamp done on 11.0

[2019-08-28 11:17] #295 closed

[2019-08-28 11:18] pedrobaeza commented on #260
Closing as this has been revamped with new specifications and it's completed.

[2019-08-28 11:18] #260 closed

[2019-09-29 21:28] OCA-git-bot opened #327 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [x] business_requirement - By @Tardo - #332
- [x] business_requirement_crm - By @Tardo - #334
- [x] business_requirement_deliverable - By @Tardo - #333
- [x] business_requirement_sale - By @Tardo - #335
- [x] business_requirement_sale_timesheet - By @Tardo - #336

Missing module? Check https://g

[2020-02-27 11:40] carlosdauden opened #337 "business_requirement_sale: Access error after create BR if user hasn't access to sale order"
Seems that this field is computed:
https://github.com/OCA/business-requirement/blob/12.0/business_requirement_sale/models/business_requirement.py#L16

even with group in the view:
https://github.com/OCA/business-requirement/blob/12.0/business_requirement_sale/views/business_requirement_views.xml#L7

[2020-09-22 15:33] ygol opened #340 "[13.0] permission error portal chatter"
reproduce:
-------------

- create a BR
- check "In Portal"
- add a portal user (external user) as follower
- log as the portal user and access the BR in the portal
- add some text to the chatter

getting error:
---------------
[code]

ps :adding an attachment works alright.

[2020-09-22 15:58] ygol commented on #340
I've re-build a runbot instance at http://3440328-13-0-f3dd26.runbot2.odoo-community.org

I get the same error for Business Requirement Deliverable

[2020-10-04 10:22] OCA-git-bot opened #341 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [x] business_requirement - By @victoralmau - #345
- [x] business_requirement_crm - By @victoralmau - #349
- [x] business_requirement_deliverable - By @victoralmau - #350
- [x] business_requirement_sale - By @victoralmau - #351
- [x] business_requirement_sale_timesheet - By @victoralmau - #352

M

[2020-10-31 15:47] ygol commented on #340
Another probably related error:
when a user is set as responsible for a BR but he is not granted the right as "Business Requirement User" it crashes the entire portal when that user try accessing (www.myodoo.com/my).

[2020-12-18 07:43] pedrobaeza commented on #327
Done

[2020-12-18 07:43] #327 closed

[2021-10-14 11:58] victoralmau commented on #341
`business_requirement` https://github.com/OCA/business-requirement/pull/345

[2021-10-17 10:13] OCA-git-bot opened #347 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [x] business_requirement - By @MosabWadea - #354
- [ ] business_requirement_crm - By @bizzappdev - #364
- [ ] business_requirement_deliverable - By @bizzappdev - #365
- [ ] business_requirement_sale - By @bizzappdev - #366
- [ ] business_requirement_sale_timesheet - By @bizzappdev - #367

Missin

[2021-11-11 12:45] victoralmau commented on #341
`business_requirement_crm` https://github.com/OCA/business-requirement/pull/349

[2021-11-11 13:55] victoralmau commented on #341
`business_requirement_deliverable` https://github.com/OCA/business-requirement/pull/350

[2021-11-14 13:14] pedrobaeza commented on #275
Already implemented in deliverables.

[2021-11-14 13:14] #275 closed

[2021-12-19 12:12] #291 closed

[2021-12-19 12:12] #300 closed

[2021-12-19 12:12] #301 closed

[2021-12-19 12:12] #337 closed

[2021-12-19 12:12] #340 closed

[2021-12-29 10:09] victoralmau commented on #341
`business_requirement_sale` https://github.com/OCA/business-requirement/pull/351

[2022-01-04 09:05] victoralmau commented on #341
`business_requirement_sale_timesheet` https://github.com/OCA/business-requirement/pull/352

[2022-01-04 15:45] #341 closed

[2022-01-11 15:43] pedroguirao opened #353 "Field "state" is not clickable on business_requirement.view_business_requirement_form"
## Module
business_requirement

## Describe the bug
Field "state" is not clickable on business_requirement.view_business_requirement_form

## To Reproduce
14.0

[2022-10-03 16:19] sbidoul opened #362 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [ ] business_requirement

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list